# Encrypt secrets folder & secret module
secrets/** filter=git-crypt diff=git-crypt
secret.nix filter=git-crypt diff=git-crypt

# Encrypt any private keys or certs
*.key filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.age filter=git-crypt diff=git-crypt
*.env filter=git-crypt diff=git-crypt
*.yaml filter=git-crypt diff=git-crypt
flake.lock -diff