name: Flake CI - checks, inputs
on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-22.04
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v12
        with:
          check-owner: true
          ignore-missing-flake-lock: false
          fail-mode: true

      - name: Check Flake
        run: nix flake check --all-systems --show-trace
