name: Validate Nix Flake

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string

permissions: {}

jobs:
  check-flake:
    name: Check (${{ matrix.system }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-latest
            system: aarch64-darwin

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref && inputs.ref || github.ref_name }}
          persist-credentials: false

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20

      - name: Validate Flake Syntax
        run: nix flake check

      - name: Check Flake (no IFD)
        run: nix flake check --no-allow-import-from-derivation
