name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "3 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20
      - name: Update Lockfile
        uses: DeterminateSystems/update-flake-lock@v27
        with:
          commit-msg: "chore: flake.lock update"
          pr-title: "chore: flake.lock update"
          branch: update-flake-inputs
          pr-body: "Automated flake.lock update"
          pr-merge-method: squash
          pr-merge: true
