name: Update flake locks

on:
  workflow_dispatch:
  schedule:
    - cron: "3 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/update-flake-lock@v27

      - id: pr
        uses: peter-evans/create-pull-request@v8
        with:
          title: chore:update flake locks
          token: ${{ secrets.GITHUB_TOKEN }}

      - if: steps.pr.outputs.pull-request-number
        run: gh pr merge ${{ steps.pr.outputs.pull-request-number }} --squash --auto
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
