name: "CI: Update submodules"

on:
  workflow_dispatch:
  schedule:
    - cron: "51 2 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Update submodules
        run: |
          git submodule update --remote
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: update submodules"
          title: "chore: update submodules"
          branch: update-submodules
          delete-branch: true
          auto-merge: true
          merge-method: squash
